/Tools/(archived)detect_orient_noFill.py
/Tools/(archived)detection_tracking.py
/Tools/(archived)vehicle Detection And Tracking.ipynb
/cv_algorithm/yolov5/.dockerignore
/cv_algorithm/yolov5/.gitattributes
/.idea/.gitignore
/cv_algorithm/yolov5/.gitignore
/.idea/.name
/cv_algorithm/yolov5/.pre-commit-config.yaml
/cv_algorithm/yolov5/models/__init__.py
/cv_algorithm/yolov5/utils/aws/__init__.py
/cv_algorithm/yolov5/utils/loggers/clearml/__init__.py
/cv_algorithm/yolov5/utils/loggers/comet/__init__.py
/cv_algorithm/yolov5/utils/loggers/wandb/__init__.py
/cv_algorithm/yolov5/utils/loggers/__init__.py
/cv_algorithm/yolov5/utils/segment/__init__.py
/cv_algorithm/yolov5/utils/__init__.py
/cv_algorithm/yolov5/utils/activations.py
/cv_algorithm/yolov5/utils/google_app_engine/additional_requirements.txt
/cv_algorithm/yolov5/models/hub/anchors.yaml
/cv_algorithm/yolov5/utils/google_app_engine/app.yaml
/cv_algorithm/yolov5/data/Argoverse.yaml
/cv_algorithm/yolov5/utils/segment/augmentations.py
/cv_algorithm/yolov5/utils/augmentations.py
/cv_algorithm/yolov5/utils/autoanchor.py
/cv_algorithm/yolov5/utils/autobatch.py
/cv_algorithm/yolov5/benchmarks.py
/cv_algorithm/yolov5/.github/ISSUE_TEMPLATE/bug-report.yml
/cv_algorithm/yolov5/data/images/bus.jpg
/cv_algorithm/yolov5/utils/callbacks.py
/cv_algorithm/yolov5/.github/workflows/ci-testing.yml
/cv_algorithm/yolov5/CITATION.cff
/cv_algorithm/yolov5/utils/loggers/clearml/clearml_utils.py
/cv_algorithm/yolov5/data/coco.yaml
/cv_algorithm/yolov5/data/coco128.yaml
/cv_algorithm/yolov5/data/coco128-seg.yaml
/cv_algorithm/yolov5/.github/CODE_OF_CONDUCT.md
/cv_algorithm/yolov5/.github/workflows/codeql-analysis.yml
/cv_algorithm/yolov5/utils/loggers/comet/comet_utils.py
/cv_algorithm/yolov5/models/common.py
/cv_algorithm/yolov5/.github/ISSUE_TEMPLATE/config.yml
/cv_algorithm/yolov5/CONTRIBUTING.md
/cv_algorithm/yolov5/utils/segment/dataloaders.py
/cv_algorithm/yolov5/utils/dataloaders.py
/cv_algorithm/yolov5/.github/dependabot.yml
/cv_algorithm/yolov5/detect.py
/cv_algorithm/yolov5/.github/workflows/docker.yml
/cv_algorithm/yolov5/utils/docker/Dockerfile
/cv_algorithm/yolov5/utils/google_app_engine/Dockerfile
/cv_algorithm/yolov5/utils/docker/Dockerfile-arm64
/cv_algorithm/yolov5/utils/docker/Dockerfile-cpu
/cv_algorithm/yolov5/data/scripts/download_weights.sh
/cv_algorithm/yolov5/utils/downloads.py
/cv_algorithm/yolov5/utils/flask_rest_api/example_request.py
/cv_algorithm/yolov5/models/experimental.py
/cv_algorithm/yolov5/export.py
/cv_algorithm/yolov5/.github/ISSUE_TEMPLATE/feature-request.yml
/cv_algorithm/yolov5/utils/segment/general.py
/cv_algorithm/yolov5/utils/general.py
/cv_algorithm/yolov5/data/scripts/get_coco.sh
/cv_algorithm/yolov5/data/scripts/get_coco128.sh
/cv_algorithm/yolov5/data/scripts/get_imagenet.sh
/cv_algorithm/yolov5/data/GlobalWheat2020.yaml
/cv_algorithm/yolov5/.github/workflows/greetings.yml
/cv_algorithm/yolov5/utils/loggers/clearml/hpo.py
/cv_algorithm/yolov5/utils/loggers/comet/hpo.py
/cv_algorithm/yolov5/hubconf.py
/cv_algorithm/yolov5/data/hyps/hyp.Objects365.yaml
/cv_algorithm/yolov5/data/hyps/hyp.scratch-high.yaml
/cv_algorithm/yolov5/data/hyps/hyp.scratch-low.yaml
/cv_algorithm/yolov5/data/hyps/hyp.scratch-med.yaml
/cv_algorithm/yolov5/data/hyps/hyp.VOC.yaml
/cv_algorithm/yolov5/data/ImageNet.yaml
/cv_algorithm/yolov5/LICENSE
/cv_algorithm/yolov5/utils/loggers/wandb/log_dataset.py
/cv_algorithm/yolov5/utils/segment/loss.py
/cv_algorithm/yolov5/utils/loss.py
/cv_algorithm/yolov5/utils/segment/metrics.py
/cv_algorithm/yolov5/utils/metrics.py
/cv_algorithm/yolov5/utils/aws/mime.sh
/.idea/misc.xml
/.idea/modules.xml
/cv_algorithm/yolov5/data/Objects365.yaml
/cv_algorithm/yolov5/utils/segment/plots.py
/cv_algorithm/yolov5/utils/plots.py
/cv_algorithm/yolov5/classify/predict.py
/cv_algorithm/yolov5/segment/predict.py
/.idea/inspectionProfiles/profiles_settings.xml
/cv_algorithm/yolov5/.github/PULL_REQUEST_TEMPLATE.md
/cv_algorithm/yolov5/.github/ISSUE_TEMPLATE/question.yml
/cv_algorithm/yolov5/utils/flask_rest_api/README.md
/cv_algorithm/yolov5/utils/loggers/clearml/README.md
/cv_algorithm/yolov5/utils/loggers/comet/README.md
/cv_algorithm/yolov5/utils/loggers/wandb/README.md
/cv_algorithm/yolov5/README.md
/cv_algorithm/yolov5/.github/README_cn.md
/cv_algorithm/yolov5/requirements.txt
/cv_algorithm/yolov5/utils/flask_rest_api/restapi.py
/cv_algorithm/yolov5/utils/aws/resume.py
/cv_algorithm/yolov5/.github/SECURITY.md
/cv_algorithm/yolov5/setup.cfg
/cv_algorithm/yolov5/data/SKU-110K.yaml
/cv_algorithm/yolov5/.github/workflows/stale.yml
/cv_algorithm/yolov5/utils/loggers/wandb/sweep.py
/cv_algorithm/yolov5/utils/loggers/wandb/sweep.yaml
/cv_algorithm/yolov5/models/tf.py
/cv_algorithm/yolov5/utils/torch_utils.py
/cv_algorithm/yolov5/classify/train.py
/cv_algorithm/yolov5/segment/train.py
/cv_algorithm/yolov5/train.py
/cv_algorithm/yolov5/utils/triton.py
/cv_algorithm/yolov5/classify/tutorial.ipynb
/cv_algorithm/yolov5/segment/tutorial.ipynb
/cv_algorithm/yolov5/tutorial.ipynb
/cv_algorithm/yolov5/utils/aws/userdata.sh
/cv_algorithm/yolov5/classify/val.py
/cv_algorithm/yolov5/segment/val.py
/cv_algorithm/yolov5/val.py
/.idea/vcs.xml
/.idea/VehiclesTransparent.iml
/cv_algorithm/video2.mp4
/cv_algorithm/yolov5/data/VisDrone.yaml
/cv_algorithm/yolov5/data/VOC.yaml
/cv_algorithm/yolov5/utils/loggers/wandb/wandb_utils.py
/cv_algorithm/yolov5/data/xView.yaml
/cv_algorithm/yolov5/models/yolo.py
/cv_algorithm/yolov5/models/hub/yolov3.yaml
/cv_algorithm/yolov5/models/hub/yolov3-spp.yaml
/cv_algorithm/yolov5/models/hub/yolov3-tiny.yaml
/cv_algorithm/yolov5/models/hub/yolov5-bifpn.yaml
/cv_algorithm/yolov5/models/hub/yolov5-fpn.yaml
/cv_algorithm/yolov5/models/hub/yolov5-p2.yaml
/cv_algorithm/yolov5/models/hub/yolov5-p6.yaml
/cv_algorithm/yolov5/models/hub/yolov5-p7.yaml
/cv_algorithm/yolov5/models/hub/yolov5-p34.yaml
/cv_algorithm/yolov5/models/hub/yolov5-panet.yaml
/cv_algorithm/yolov5/models/yolov5l.yaml
/cv_algorithm/yolov5/models/hub/yolov5l6.yaml
/cv_algorithm/yolov5/models/segment/yolov5l-seg.yaml
/cv_algorithm/yolov5/models/yolov5m.yaml
/cv_algorithm/yolov5/models/hub/yolov5m6.yaml
/cv_algorithm/yolov5/models/segment/yolov5m-seg.yaml
/cv_algorithm/yolov5n.pt
/cv_algorithm/yolov5/models/yolov5n.yaml
/cv_algorithm/yolov5/models/hub/yolov5n6.yaml
/cv_algorithm/yolov5/models/segment/yolov5n-seg.yaml
/cv_algorithm/yolov5/models/yolov5s.yaml
/cv_algorithm/yolov5/models/hub/yolov5s6.yaml
/cv_algorithm/yolov5/models/hub/yolov5s-ghost.yaml
/cv_algorithm/yolov5/models/hub/yolov5s-LeakyReLU.yaml
/cv_algorithm/yolov5/models/segment/yolov5s-seg.yaml
/cv_algorithm/yolov5/models/hub/yolov5s-transformer.yaml
/cv_algorithm/yolov5/models/yolov5x.yaml
/cv_algorithm/yolov5/models/hub/yolov5x6.yaml
/cv_algorithm/yolov5/models/segment/yolov5x-seg.yaml
/cv_algorithm/yolov5/data/images/zidane.jpg
/cv_algorithm/yolov5/data/Argoverse.yaml
/cv_algorithm/yolov5/data/images/bus.jpg
/cv_algorithm/yolov5/data/coco.yaml
/cv_algorithm/yolov5/data/coco128.yaml
/cv_algorithm/yolov5/data/coco128-seg.yaml
/cv_algorithm/yolov5/data/GlobalWheat2020.yaml
/cv_algorithm/yolov5/data/ImageNet.yaml
/cv_algorithm/yolov5/data/Objects365.yaml
/cv_algorithm/yolov5/setup.cfg
/cv_algorithm/yolov5/data/SKU-110K.yaml
/cv_algorithm/yolov5/data/VisDrone.yaml
/cv_algorithm/yolov5/data/VOC.yaml
/cv_algorithm/yolov5/data/xView.yaml
/cv_algorithm/yolov5/data/images/zidane.jpg
/cv_algorithm/yolov5/data/Argoverse.yaml
/cv_algorithm/yolov5/data/images/bus.jpg
/cv_algorithm/yolov5/data/coco.yaml
/cv_algorithm/yolov5/data/coco128.yaml
/cv_algorithm/yolov5/data/coco128-seg.yaml
/cv_algorithm/yolov5/data/GlobalWheat2020.yaml
/cv_algorithm/yolov5/data/ImageNet.yaml
/cv_algorithm/yolov5/data/Objects365.yaml
/cv_algorithm/yolov5/setup.cfg
/cv_algorithm/yolov5/data/SKU-110K.yaml
/cv_algorithm/yolov5/data/VisDrone.yaml
/cv_algorithm/yolov5/data/VOC.yaml
/cv_algorithm/yolov5/data/xView.yaml
/cv_algorithm/yolov5/data/images/zidane.jpg
/cv_algorithm/yolov5/data/Argoverse.yaml
/cv_algorithm/yolov5/data/images/bus.jpg
/front_app/PinMappingFront.docx
/front_app/video2.mp4
/front_app/yolov5n.pt
/GUI/video2.mp4
/GUI/yolov5n.pt
/port_mapping.txt
/test_read_umg.py
/yolov5n.pt
/AVR_ATMEGA32_COTS/
/back_app/yolov5/
/back_app/Vehicle_registration_plates_of_Transnistria.jpg
/back_app/video2.mp4
/back_app/yolov5n.pt
/cv_algorithm/yolov5/
/front_app/yolov5/
/GUI/yolov5/
/Tools/Test_Serial_Value_Driven/
/Tools/Test_US/
/GUI/back-view.mp4
